# Steam to H2O3
This notebook provides a getting started tutorial for how to securely connect to an instance of the H2O AI Cloud from a local workstation and then accomplish common tasks using the H2O3.

##### For more H2O-3 tutorials for more data science details go to: 'https://github.com/h2oai/h2o-tutorials/blob/master/h2o-open-tour-2016/chicago/intro-to-h2o.ipynb'

## Notebook Setup
This tutorial relies on the latest Steam SDK which can be installed into a python environment using `pip install https://enterprise-steam.s3.amazonaws.com/release/1.8.9/python/h2osteam-1.8.9-py2.py3-none-any.whl`.

In [34]:
import h2osteam
import h2o
import os
import getpass
import h2o_mlops_client as mlops

from h2osteam.clients import H2oKubernetesClient

# Import H2O GLM:
from h2o.estimators.glm import H2OGeneralizedLinearEstimator

## Table of Contents
<div class="toc"><ul class="toc-item"><li><span><a href="#Notebook-Setup" data-toc-modified-id="Notebook-Setup-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Notebook Setup</a></span></li><li><span><a href="#Securely-Connect" data-toc-modified-id="Securely-Connect-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Securely Connect</a></span></li><li><span><a href="#DAI-Instances" data-toc-modified-id="DAI-Instances-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Driverless AI Instances</a></span><ul class="toc-item"><li><span><a href="#Create-new-cluster" data-toc-modified-id="Create-new-cluster"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>Create new cluster</a></span></li><li><span><a href="#list-all-existing-clusters" data-toc-modified-id="list-all-existing-clusters-3.2"><span class="toc-item-num">3.2&nbsp;&nbsp;</span>List all existing clusters</a></span></li><li><span><a href="#add-a-dataset" data-toc-modified-id="add-a-dataset-3.3"><span class="toc-item-num">3.3&nbsp;&nbsp;</span>Add a dataset</a></span></li><li><span><a href="#Run-an-experiment" data-toc-modified-id="Run-an-experiment-3.4"><span class="toc-item-num">3.4&nbsp;&nbsp;</span>Run an experiment</a></span></li><li><span><a href="#Pause-our-instance" data-toc-modified-id="Pause-our-instance-3.5"><span class="toc-item-num">3.5&nbsp;&nbsp;</span>Pause our instance</a></span></li><li><span><a href="#Delete-the-instance" data-toc-modified-id="Delete-the-instance-3.6"><span class="toc-item-num">3.6&nbsp;&nbsp;</span>Delete the instance</a></span></li></ul></li></ul></div>

## Securely Connect

To get the personal access token, login to the Steam you would like to test with, click on configuration and then token. Copy and paste the token into the box

In [35]:
refresh_token = 'https://cloud-internal.h2o.ai/auth/get-platform-token'

In [36]:
print('Click link to get personalized password:', refresh_token)

tp = mlops.TokenProvider(
    token_endpoint_url = 'https://auth.demo.h2o.ai/auth/realms/q8s-internal/protocol/openid-connect/token',
    client_id = 'q8s-internal-platform',
    refresh_token=getpass.getpass()
)

Click link to get personalized password: https://cloud-internal.h2o.ai/auth/get-platform-token
········

In [37]:
steam = h2osteam.login(
    url="https://steam.cloud-internal.h2o.ai/",
    access_token=tp.ensure_fresh_token(),
)

## H2O3 Clusters

This example hows how to create an cluster and connect to it. First lets check the version of H2O python client and the available H2O server versions.

H2O Python Client Version:

In [38]:
h2o.__version__

'3.36.0.2'

H2O server version available:

In [39]:
h2osteam.api().get_h2o_engines()

[]

### Create new cluster

Now lets launch the cluster!

In [40]:
cluster = H2oKubernetesClient().launch_cluster(
    name="test_cluster",
    version="3.36.0.1",
)

To ensure the cluster is running, run the following line:

In [41]:
cluster.is_running()

True

#### Connecting to new cluster

Finally, lets connect to the cluster

In [42]:
cluster.connect()

Connecting to H2O server at https://steam.cloud-internal.h2o.ai:443/proxy/h2o-k8s/112 ... successful.
Warning: Version mismatch. H2O is version 3.36.0.1, but the h2o-python package is version 3.36.0.2. Install the matching h2o-Python version from - http://h2o-release.s3.amazonaws.com/h2o/rel-zorn/1/index.html.

--------------------------  ----------------------------------------------------------------------------
H2O_cluster_uptime:         3 mins 27 secs
H2O_cluster_timezone:       Etc/GMT
H2O_data_parsing_timezone:  UTC
H2O_cluster_version:        3.36.0.1
H2O_cluster_version_age:    2 months
H2O_cluster_name:           test_cluster
H2O_cluster_total_nodes:    1
H2O_cluster_free_memory:    3.185 Gb
H2O_cluster_total_cores:    1
H2O_cluster_allowed_cores:  1
H2O_cluster_status:         locked, healthy
H2O_connection_url:         https://steam.cloud-internal.h2o.ai:443/proxy/h2o-k8s/112
H2O_connection_proxy:       null
H2O_internal_security:      True
H2O_API_Extensions:         Amazon S3, XGBoost, Algos, Infogram, AutoML, Core V3, TargetEncoder, Core V4
Python_version:             3.8.12 final
--------------------------  ----------------------------------------------------------------------------

In [43]:
h2o.cluster().version

'3.36.0.1'

#### Connecting to existing clusters

If you want to connect to existing H2O cluster, run the following code!

In [44]:
name = "test_cluster"
cluster = H2oKubernetesClient.get_cluster(name)
cluster.connect()

/var/folders/hc/cb9t6hf90j9d04dxrvyk6t_c0000gp/T/ipykernel_21391/2545205769.py:2: UserWarning: 'H2oKubernetesClient.get_cluster()' function is deprecated in favor of 'H2oKubernetesClient().get_cluster()' and will be removed in v1.9
  cluster = H2oKubernetesClient.get_cluster(name)

Connecting to H2O server at https://steam.cloud-internal.h2o.ai:443/proxy/h2o-k8s/112 ... successful.
Warning: Version mismatch. H2O is version 3.36.0.1, but the h2o-python package is version 3.36.0.2. Install the matching h2o-Python version from - http://h2o-release.s3.amazonaws.com/h2o/rel-zorn/1/index.html.

--------------------------  ----------------------------------------------------------------------------
H2O_cluster_uptime:         3 mins 36 secs
H2O_cluster_timezone:       Etc/GMT
H2O_data_parsing_timezone:  UTC
H2O_cluster_version:        3.36.0.1
H2O_cluster_version_age:    2 months
H2O_cluster_name:           test_cluster
H2O_cluster_total_nodes:    1
H2O_cluster_free_memory:    3.185 Gb
H2O_cluster_total_cores:    1
H2O_cluster_allowed_cores:  1
H2O_cluster_status:         locked, healthy
H2O_connection_url:         https://steam.cloud-internal.h2o.ai:443/proxy/h2o-k8s/112
H2O_connection_proxy:       null
H2O_internal_security:      True
H2O_API_Extensions:         Amazon S3, XGBoost, Algos, Infogram, AutoML, Core V3, TargetEncoder, Core V4
Python_version:             3.8.12 final
--------------------------  ----------------------------------------------------------------------------

### List all existing clusters

In [45]:
clusters = H2oKubernetesClient().get_clusters()
clusters

### Add a dataset

In [48]:
#loan_csv = "/Volumes/H2OTOUR/loan.csv"  # modify this for your machine
# Alternatively, you can import the data directly from a URL
loan_csv = "https://raw.githubusercontent.com/h2oai/app-consumer-loan/master/data/loan.csv"

data = h2o.import_file(loan_csv)  # 163,987 rows x 15 columns

Parse progress: |████████████████████████████████████████████████████████████████| (done) 100%

In [49]:
data.shape

(163987, 15)

In [52]:
h2o.cluster().show_status(True)

--------------------------  ----------------------------------------------------------------------------
H2O_cluster_uptime:         14 mins 13 secs
H2O_cluster_timezone:       Etc/GMT
H2O_data_parsing_timezone:  UTC
H2O_cluster_version:        3.36.0.1
H2O_cluster_version_age:    2 months
H2O_cluster_name:           test_cluster
H2O_cluster_total_nodes:    1
H2O_cluster_free_memory:    3.173 Gb
H2O_cluster_total_cores:    1
H2O_cluster_allowed_cores:  1
H2O_cluster_status:         locked, healthy
H2O_connection_url:         https://steam.cloud-internal.h2o.ai:443/proxy/h2o-k8s/112
H2O_connection_proxy:       null
H2O_internal_security:      True
H2O_API_Extensions:         Amazon S3, XGBoost, Algos, Infogram, AutoML, Core V3, TargetEncoder, Core V4
Python_version:             3.8.12 final
--------------------------  ----------------------------------------------------------------------------

Nodes info:     Node 1
--------------  -------------------------------------------------------------
h2o             steam-1a3cbfec-5e5c-42be-a677-1958e0612c23-0/10.1.6.109:54321
healthy         True
last_ping       1646075391940
num_cpus        1
sys_load        0.88
mem_value_size  6048090
free_mem        3406542216
pojo_mem        68223262
swap_mem        0
free_disk       1084882944000
max_disk        1099497996288
pid             1
num_keys        95
tcps_active     0
open_fds        30
rpcs_active     0

### Run an experiment
#### 1. First Split the dataset for training and testing

In [53]:
data['bad_loan'] = data['bad_loan'].asfactor()  #encode the binary repsonse as a factor
data['bad_loan'].levels()  #optional: after encoding, this shows the two factor levels, '0' and '1'

[['0', '1']]

In [54]:
splits = data.split_frame(ratios=[0.7, 0.15], seed=1)  

train = splits[0]
valid = splits[1]
test = splits[2]

In [55]:
y = 'bad_loan'
x = list(data.columns)

In [56]:
x.remove(y)  #remove the response
x.remove('int_rate')  #remove the interest rate column because it's correlated with the outcome

#### 2. Set up the experiment's settings (ie. accuracy, time, target column, etc.)

We first create an object of class, "H2OGeneralizedLinearEstimator". This does not actually do any training, it just sets the model up for training by specifying model parameters.

In [57]:
# Initialize the GLM estimator:
# Similar to R's glm() and H2O's R GLM, H2O's GLM has the "family" argument

glm_fit1 = H2OGeneralizedLinearEstimator(family='binomial', model_id='glm_fit1')

#### 3. Launch Experiment

Now that glm_fit1 object is initialized, we can train the model:

In [58]:
glm_fit1.train(x=x, y=y, training_frame=train, validation_frame=valid)

glm Model Build progress: |██████████████████████████████████████████████████████| (done) 100%
Model Details
=============
H2OGeneralizedLinearEstimator :  Generalized Linear Modeling
Model Key:  glm_fit1


GLM Model: summary

,,family,link,regularization,number_of_predictors_total,number_of_active_predictors,number_of_iterations,training_frame
0,,binomial,logit,"Elastic Net (alpha = 0.5, lambda = 8.155E-5 )",82,52,5,py_5_sid_b772

ModelMetricsBinomialGLM: glm
** Reported on train data. **

MSE: 0.13984781035810745
RMSE: 0.37396231141400793
LogLoss: 0.44573426798537014
Null degrees of freedom: 114907
Residual degrees of freedom: 114855
Null deviance: 108939.63716428309
Residual deviance: 102436.86653132582
AIC: 102542.86653132582
AUC: 0.6741464380849886
AUCPR: 0.3129311477245476
Gini: 0.3482928761699773

Confusion Matrix (Act/Pred) for max f1 @ threshold = 0.1889005821903624:

                0        1   Error                 Rate
0      0  62183.0  31841.0  0.3386    (31841.0/94024.0)
1      1   8549.0  12335.0  0.4094     (8549.0/20884.0)
2  Total  70732.0  44176.0  0.3515   (40390.0/114908.0)

Maximum Metrics: Maximum metrics at their respective thresholds

                         metric  threshold         value    idx
0                        max f1   0.188901      0.379188  223.0
1                        max f2   0.111699      0.547285  316.0
2                  max f0point5   0.262339      0.341004  153.0
3                  max accuracy   0.521566      0.818733   24.0
4                 max precision   0.738490      1.000000    0.0
5                    max recall   0.000990      1.000000  399.0
6               max specificity   0.738490      1.000000    0.0
7              max absolute_mcc   0.207706      0.201205  204.0
8    max min_per_class_accuracy   0.180996      0.624785  232.0
9   max mean_per_class_accuracy   0.180996      0.626243  232.0
10                      max tns   0.738490  94024.000000    0.0
11                      max fns   0.738490  20881.000000    0.0
12                      max fps   0.000990  94024.000000  399.0
13                      max tps   0.000990  20884.000000  399.0
14                      max tnr   0.738490      1.000000    0.0
15                      max fnr   0.738490      0.999856    0.0
16                      max fpr   0.000990      1.000000  399.0
17                      max tpr   0.000990      1.000000  399.0

Gains/Lift Table: Avg response rate: 18.17 %, avg score: 18.17 %

,group,cumulative_data_fraction,lower_threshold,lift,cumulative_lift,response_rate,score,cumulative_response_rate,cumulative_score,capture_rate,cumulative_capture_rate,gain,cumulative_gain,kolmogorov_smirnov
0,1,0.010008,4.668043e-01,2.727179,2.727179,0.495652,0.515867,0.495652,0.515867,0.027294,0.027294,172.717870,172.717870,0.021125
1,2,0.020007,4.283093e-01,2.466174,2.596733,0.448216,0.445960,0.471944,0.480929,0.024660,0.051954,146.617438,159.673330,0.039042
2,3,0.030007,4.037065e-01,2.150121,2.447906,0.390775,0.415485,0.444896,0.459121,0.021500,0.073453,115.012096,144.790570,0.053097
3,4,0.040006,3.839043e-01,2.130966,2.368688,0.387293,0.393512,0.430498,0.442722,0.021308,0.094762,113.096621,136.868806,0.066918
4,5,0.050005,3.672821e-01,2.159698,2.326897,0.392515,0.375539,0.422903,0.429288,0.021595,0.116357,115.969834,132.689739,0.081089
5,6,0.100002,3.109176e-01,1.882912,2.104924,0.342211,0.336551,0.382560,0.382923,0.094139,0.210496,88.291217,110.492410,0.135037
6,7,0.150007,2.744069e-01,1.611592,1.940470,0.292899,0.291427,0.352672,0.352423,0.080588,0.291084,61.159190,94.047049,0.172412
7,8,0.200003,2.483117e-01,1.513225,1.833669,0.275022,0.260707,0.333261,0.329496,0.075656,0.366740,51.322544,83.366853,0.203771
8,9,0.300005,2.113010e-01,1.276074,1.647804,0.231921,0.228755,0.299481,0.295916,0.127610,0.494350,27.607432,64.780379,0.237511
9,10,0.399998,1.848513e-01,1.116243,1.514922,0.202872,0.197359,0.275330,0.271278,0.111617,0.605966,11.624320,51.492232,0.251716
10,11,0.500000,1.628468e-01,0.955739,1.403084,0.173701,0.173531,0.255004,0.251728,0.095576,0.701542,-4.426103,40.308370,0.246307
11,12,0.600002,1.432843e-01,0.841299,1.309452,0.152902,0.152951,0.237987,0.235265,0.084131,0.785673,-15.870072,30.945161,0.226912
12,13,0.699995,1.246365e-01,0.716388,1.224733,0.130200,0.134006,0.222590,0.220801,0.071634,0.857307,-28.361226,22.473346,0.192253
13,14,0.799997,1.051407e-01,0.603322,1.147055,0.109651,0.115001,0.208472,0.207575,0.060333,0.917640,-39.667781,14.705536,0.143774
14,15,0.899998,8.215915e-02,0.468772,1.071689,0.085197,0.094208,0.194775,0.194979,0.046878,0.964518,-53.122823,7.168906,0.078851
15,16,1.000000,1.014541e-22,0.354811,1.000000,0.064485,0.062060,0.181745,0.181687,0.035482,1.000000,-64.518909,0.000000,0.000000

ModelMetricsBinomialGLM: glm
** Reported on validation data. **

MSE: 0.14197789922883763
RMSE: 0.3767995478086958
LogLoss: 0.4509779914567159
Null degrees of freedom: 24497
Residual degrees of freedom: 24445
Null deviance: 23495.187288593857
Residual deviance: 22096.117669413252
AIC: 22202.117669413252
AUC: 0.6754349275583739
AUCPR: 0.31637176075742307
Gini: 0.35086985511674773

Confusion Matrix (Act/Pred) for max f1 @ threshold = 0.19001917992659606:

                0       1   Error               Rate
0      0  13326.0  6630.0  0.3322   (6630.0/19956.0)
1      1   1859.0  2683.0  0.4093    (1859.0/4542.0)
2  Total  15185.0  9313.0  0.3465   (8489.0/24498.0)

Maximum Metrics: Maximum metrics at their respective thresholds

                         metric  threshold         value    idx
0                        max f1   0.190019      0.387297  224.0
1                        max f2   0.120977      0.554689  307.0
2                  max f0point5   0.286058      0.342812  134.0
3                  max accuracy   0.494281      0.815414   25.0
4                 max precision   0.580675      0.708333    9.0
5                    max recall   0.004379      1.000000  398.0
6               max specificity   0.719034      0.999950    0.0
7              max absolute_mcc   0.210439      0.207877  203.0
8    max min_per_class_accuracy   0.180059      0.627280  236.0
9   max mean_per_class_accuracy   0.181039      0.629799  235.0
10                      max tns   0.719034  19955.000000    0.0
11                      max fns   0.719034   4542.000000    0.0
12                      max fps   0.000996  19956.000000  399.0
13                      max tps   0.004379   4542.000000  398.0
14                      max tnr   0.719034      0.999950    0.0
15                      max fnr   0.719034      1.000000    0.0
16                      max fpr   0.000996      1.000000  399.0
17                      max tpr   0.004379      1.000000  398.0

Gains/Lift Table: Avg response rate: 18.54 %, avg score: 18.20 %

,group,cumulative_data_fraction,lower_threshold,lift,cumulative_lift,response_rate,score,cumulative_response_rate,cumulative_score,capture_rate,cumulative_capture_rate,gain,cumulative_gain,kolmogorov_smirnov
0,1,0.010001,4.639619e-01,2.641792,2.641792,0.489796,0.512898,0.489796,0.512898,0.026420,0.026420,164.179225,164.179225,0.020156
1,2,0.020002,4.251522e-01,2.487688,2.564740,0.461224,0.442705,0.475510,0.477801,0.024879,0.051299,148.768770,156.473998,0.038421
2,3,0.030002,4.031526e-01,1.827240,2.318907,0.338776,0.413759,0.429932,0.456454,0.018274,0.069573,82.723964,131.890653,0.048577
3,4,0.040003,3.847160e-01,2.157464,2.278546,0.400000,0.393118,0.422449,0.440620,0.021576,0.091149,115.746367,127.854582,0.062787
4,5,0.050004,3.682875e-01,2.223508,2.267538,0.412245,0.376411,0.420408,0.427778,0.022237,0.113386,122.350848,126.753835,0.077808
5,6,0.100008,3.115652e-01,1.906493,2.087016,0.353469,0.337674,0.386939,0.382726,0.095332,0.208719,90.649341,108.701588,0.133453
6,7,0.150012,2.764154e-01,1.611493,1.928508,0.298776,0.292662,0.357551,0.352705,0.080581,0.289300,61.149327,92.850834,0.170990
7,8,0.200016,2.495315e-01,1.382538,1.792016,0.256327,0.261916,0.332245,0.330008,0.069133,0.358432,38.253795,79.201574,0.194472
8,9,0.300024,2.123237e-01,1.397948,1.660660,0.259184,0.229557,0.307891,0.296524,0.139806,0.498239,39.794840,66.065996,0.243328
9,10,0.399992,1.846307e-01,1.125423,1.526892,0.208657,0.197912,0.283090,0.271879,0.112506,0.610744,12.542256,52.689158,0.258720
10,11,0.500000,1.627153e-01,0.904814,1.402466,0.167755,0.173254,0.260021,0.252152,0.090489,0.701233,-9.518615,40.246587,0.247034
11,12,0.600008,1.437037e-01,0.878396,1.315115,0.162857,0.153057,0.243826,0.235635,0.087847,0.789080,-12.160408,31.511494,0.232104
12,13,0.699976,1.248519e-01,0.693754,1.226375,0.128624,0.134437,0.227373,0.221182,0.069353,0.858432,-30.624637,22.637492,0.194522
13,14,0.799984,1.054286e-01,0.634030,1.152324,0.117551,0.115301,0.213644,0.207946,0.063408,0.921841,-36.596986,15.232427,0.149592
14,15,0.899992,8.257685e-02,0.464515,1.075894,0.086122,0.094490,0.199474,0.195338,0.046455,0.968296,-53.548486,7.589410,0.083850
15,16,1.000000,2.172251e-19,0.317015,1.000000,0.058776,0.061886,0.185403,0.181992,0.031704,1.000000,-68.298493,0.000000,0.000000

Scoring History:

,,timestamp,duration,iterations,negative_log_likelihood,objective,training_rmse,training_logloss,training_r2,training_auc,training_pr_auc,training_lift,training_classification_error,validation_rmse,validation_logloss,validation_r2,validation_auc,validation_pr_auc,validation_lift,validation_classification_error
0,,2022-02-28 19:11:50,0.000 sec,0,54469.818582,0.474030,,,,,,,,,,,,,,
1,,2022-02-28 19:11:51,0.504 sec,1,51474.873626,0.448341,,,,,,,,,,,,,,
2,,2022-02-28 19:11:51,0.587 sec,2,51227.197551,0.446199,,,,,,,,,,,,,,
3,,2022-02-28 19:11:51,0.649 sec,3,51218.459867,0.446130,,,,,,,,,,,,,,
4,,2022-02-28 19:11:51,0.712 sec,4,51218.457018,0.446130,,,,,,,,,,,,,,
5,,2022-02-28 19:11:51,0.937 sec,5,51218.433266,0.446130,0.373962,0.445734,0.059619,0.674146,0.312931,2.727179,0.351499,0.3768,0.450978,0.059927,0.675435,0.316372,2.641792,0.346518

Variable Importances:

,variable,relative_importance,scaled_importance,percentage
0,purpose.small_business,0.664140,1.000000,0.077961
1,term.36 months,0.432335,0.650970,0.050750
2,purpose.credit_card,0.428948,0.645870,0.050353
3,annual_inc,0.401408,0.604402,0.047120
4,purpose.car,0.391287,0.589163,0.045932
5,addr_state.CO,0.315671,0.475307,0.037056
6,addr_state.TN,0.310776,0.467937,0.036481
7,term.60 months,0.302388,0.455308,0.035496
8,addr_state.DC,0.298106,0.448861,0.034994
9,addr_state.WV,0.296639,0.446652,0.034821
10,purpose.wedding,0.288206,0.433953,0.033831
11,purpose.debt_consolidation,0.261357,0.393527,0.030680
12,addr_state.WY,0.253166,0.381193,0.029718
13,revol_util,0.247252,0.372289,0.029024
14,addr_state.NV,0.231430,0.348466,0.027167
15,purpose.major_purchase,0.223391,0.336362,0.026223
16,addr_state.FL,0.213951,0.322147,0.025115
17,dti,0.196634,0.296073,0.023082
18,home_ownership.MORTGAGE,0.180832,0.272280,0.021227
19,addr_state.RI,0.176775,0.266172,0.020751

See the whole table with table.as_data_frame()

#### 4. View information, summary, model artifacts, and model performance of experiment

Let's see the performance of the GLM that were just trained.

In [59]:
glm_perf1 = glm_fit1.model_performance(test)

Instead of printing the entire model performance metrics object, it is probably easier to print just the metric that you are interested in comparing. Here we are going to compare the test AUC to the training and validation AUC

In [60]:
print (glm_perf1.auc())

0.6774747329108557

In [61]:
print (glm_fit1.auc(train=True))
print (glm_fit1.auc(valid=True))

0.6741464380849886
0.6754349275583739

### Pause our instance

In [62]:
cluster.stop()

### Delete the instance

In [63]:
cluster.terminate()